<div style="margin-top: 80px;" class="message_list">
  <div class="table_title">Failed Messages</div>
  <div class="table stable-striped table-bordered">
    <table>
      <thead>
      <tr>
        <th>Class</th>
        <th>Method</th>
        <th>Args</th>
        <th>Created At</th>
        <th>Failed At</th>
        <th>Cause</th>
        <th>System Runtime</th>
        <th>Real Runtime</th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
