<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sym</title>
  <meta name="description" content="Monitoring Panel for Sym.">
  <link href="/application.css" rel="stylesheet">
  <link href="/queues.css" rel="stylesheet">
  <link href="/bootstrap.css" rel="stylesheet">
</head>
