<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Howler Dashboard</title>
  <meta name="description" content="Monitoring Panel for Howler.">
  <link href="<%= path 'application.css' %>" rel="stylesheet">
  <link href="<%= path 'queues.css' %>" rel="stylesheet">
  <link href="<%= path 'bootstrap.min.css' %>" rel="stylesheet">
</head>
