<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Howler</title>
  <meta name="description" content="Monitoring Panel for Howler.">
  <link href="/howler/application.css" rel="stylesheet">
  <link href="/howler/queues.css" rel="stylesheet">
  <link href="/howler/bootstrap.min.css" rel="stylesheet">
</head>
