<div id="navigation" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="item"><a href="/">Home</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="/queues">Queues</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="/messages">Messages</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="/workers">Workers</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="/statistics">Statistics</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
